#lang {
	-webkit-appearance: none;
   	-moz-appearance: none;
    appearance: none;
}
.section-title-last {
	text-align: left;
}
.nav-link {
    font-size: 12px;
}
.lang-sel {
	margin-top: 24px!important;
    float: right;
}
