#lang {
	-webkit-appearance: none;
   	-moz-appearance: none;
    appearance: none;
}
.section-title-last {
	text-align: left;
}

.lang-sel {
	margin-top: 24px!important;
}
.bold {
    font-weight: bold;
}
.process-list{
    font-size: 18px;
    color: #585b60;
}
.process-list li {
    margin-bottom: 6px;
    font-size: 20px;
}
